body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgreen;
    margin: 0;
}
header{
    background: linear-gradient(360deg, green, rgb(121, 248, 142));
    margin: 0;
    text-align: center;
    color: white;
}
nav{
    padding: 10px;
    text-align: left;
}
nav > a{
    color: white;
    text-decoration: none;
    padding-right: 20px;
}
main{
    width: 800px;
    background-color: white;
    padding: 10px;
    position: relative;
    margin: auto;
    border-radius: 10px;
}
.h2 h2{
    width: 600px;
    background-color: rgb(0, 128, 0);
    color: white;
    position: relative;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}
.extra{
    width: 600px;
    background-color: lightgreen;
    position: relative;
    margin: auto;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

footer{
    background-color: rgb(0, 78, 78);
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}
footer > p{
    margin: 0;
}